version: '3'
services:
  web:
    container_name: sai-dashboard-rossmann
    image: rossmann-dashboard-api:v5
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    # volumes:
    #   - .:/app
