anyio
attrs
certifi
charset-normalizer
click
exceptiongroup
fastapi
greenlet
h11
idna
mysql-connector-python==8.1.0
numpy
outcome
packaging
pandas
passlib
protobuf
PyJWT
PyMySQL
PySocks
python-dateutil
python-dotenv
python-multipart
pytz
requests
selenium
six
sniffio
sortedcontainers
SQLAlchemy==1.4.46
starlette
trio
trio-websocket
typing_extensions
tzdata
urllib3
uvicorn
webdriver-manager
wsproto
boto3
cryptography
pydantic-settings
XlsxWriter==3.2.0